<h1>Salut je sais pas quoi dire</h1>
<div class="row" style="width: 100%;height: 100%;">
<ul class="column">
<% @email.each do |email| %>
  <li id="<%= email.id %>"><%= form_tag(emails_path, method: 'post', remote: true) do %>
  <%= hidden_field_tag 'id', email.id %>
    <%= submit_tag email.object %></li>
<% end %>
<% end %>
</ul>
<div id="mail" class="column"></div>
</div>